head
  title AnyCable: Action Cable on steroids!
  meta(
    name="viewport"
    content="width=device-width"
  )
  meta(
    charset="UTF-8"
  )
  link(
    rel="stylesheet"
    href="/new.css"
  )
  include ../meta
  block styles
