<li class='case-studies__study' style='background-color: {{background-color}};'>
  <a
    class='link case-studies__study-link'
    href={{url}}
    target='_blank'
  >
    <img
      src={{img-src}}
      class='case-studies__study-logo'
      alt={{img-alt}}
    />
    <div class='case-studies__study-content'>
      <p class='case-studies__study-date' style='color: {{coalesce date-color text-color "rgba(255, 255, 255, 1)" }};'>
        {{date}}
      </p>
      <p
        class='case-studies__study-title' style='color: {{coalesce text-color "rgba(255, 255, 255, 1)" }};'
      >
       {{{title}}}
      </p>
    </div>
  </a>
</li>
