head
  title AnyCable: build lightning fast, reliable real-time applications with Ruby and Rails
  meta(
    name="viewport"
    content="width=device-width"
  )
  meta(
    charset="UTF-8"
  )
  link(
    rel="stylesheet"
    href="/main.css"
  )
  if env !== 'development'
    include ./gtm_head.html
  include ./meta
  include ./schemaorg.html
  block styles
